<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main Style-->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Main JS -->
    <script src="/scripts/app.js" defer></script>
    <title>Express Contacts</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about-us">About Us</a>
        <a href="/contact">Contact</a>
    </nav>
    <main>
        <h1>Express Contacts</h1>
    </main>
</body>
</html>